<div class="boxed">
    <div class="title-bar white">
        <h4>Other Trigger</h4>
    </div>

    <div class="inner no-radius">
        <form method="post" action="#" class="basic-form">
            <div class="col-lg-6 col-md-6 col-sm-12">
        <label for="name">Other Triggers:</label>

        <hr>

        {{input type="checkbox" name=defaultConfig.temperatureBool checked=event.event.temperatureBool}}
        Temperature
        </br>
        {{view Ember.Select
        content=conditions
        prompt=""
        selectionBinding="selectedTemperatureType"
        optionValuePath="content.value"
        optionLabelPath="content.name"
        }}
        {{input type=text name=defaultConfig.temperature id=event.event.temperature placeholder="Grad Celsius" value=event.event.temperature}}


        <hr>

        {{input type="checkbox" name=defaultConfig.sunBool checked=event.event.sunBool}}
        Sunrise / sunset
        </br>
        {{view Ember.Select
        content=sun
        prompt=""
        selectionBinding="selectedSunType"
        optionValuePath="content.value"
        optionLabelPath="content.name"
        }}

        {{view Ember.Select
        content=plusminus
        prompt=""
        selectionBinding="selectedPlusminusType"
        optionValuePath="content.value"
        optionLabelPath="content.name"
        }}
        {{input type=text name=defaultConfig.minutes id=event.event.minutes placeholder="min" value=event.event.minutes}}

        <hr>
        </div>
    </form>
</div>