<div class="boxed">
    <div class="title-bar white">
        <h4>Event Bearbeiten</h4>
    </div>

    <div class="inner no-radius">
        <form method="post" action="#" class="basic-form">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <label for="name">Start & Ende:</label>
                {{input type=text name=defaultConfig.start_date id=event.event.start_date placeholder="Startdatum" value=event.event.start_date}}
                {{input type=text name=defaultConfig.start_time id=event.event.start_time placeholder="Startzeit" value=event.event.start_time}}

                <hr>

                {{input type=text name=defaultConfig.end_date id=event.event.end_date class='test' placeholder="Enddatum" value=event.event.end_date}}
                {{input type=text name=defaultConfig.end_time id=event.event.end_time placeholder="Endzeit" value=event.event.end_time}}

                <label for="name">Repeat?</label>
                {{input type="checkbox" name=defaultConfig.repeat_daily checked=event.event.repeat}}
                Täglich Wöchentlich Montag-Freitag Wochenende
                <label for="name">Active?</label>
                {{input type="checkbox" name=defaultConfig.active checked=event.event.active}}
            </div>
        </form>
    </div>
</div>
